@import './variables';

button{ 
    border-radius: 50px;
    border: none;
    width: fit-content;
    height: 55px;
    padding: 0 10%;
    cursor: pointer;

    .brown {
        color: white;
        background-color: $airbean_brown;
    }

    .white {
        color: black;
        background-color: white;
    }

    h4 {
        font-size: $h_small;
        margin: 0;
    }
}

