@import './variables';

button{ 
	border-radius: 50px;
	border: none;
	min-width: 184px;
	width: fit-content;
	height: 55px;
	padding: 4% 10%;
	cursor: pointer;
}

.brown {
		
	background-color: $airbean_brown;

	h4 {
		font-size: $h_small;
		line-height: $h_small;
		margin: 0;
		color: white;
	}

	a {
		text-decoration: none;
		color: white;

		&.router-link-exact-active {
			text-decoration: none;
			color: white;
		}
	}
}

.white {
	background-color: white;

	h4 {
		font-size: $h_small;
		line-height: $h_small;
		margin: 0;
		color: $airbean_brown;
	}

	a {
		text-decoration: none;
		color: $airbean_brown;

		&.router-link-exact-active {
			text-decoration: none;
			color: $airbean_brown;
		}
	}
}

